.highlight {
    background-color: #ff0;
  }
  
  .navbar-style {
    color: white !important;
  }

  .dropdown-style {
    right: 0;
    left: auto;
    position:absolute;
  }

.button {
  margin-left:10px;
  margin-right:10px;
}